<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h1>Post #<%=@post.id%></h1>
    <h4>
      <%= @post.user.fname + " " + @post.user.lname + ":" %>
    </h4>
    <p>
       <%=@post.created_at.strftime("%B %d, %Y at %I:%M %p")  %>
    </p>
    <h4>
      <%= @post.body %>
    </h4>
  </div>
</div>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h5>Add your comment</h5>


    <% if current_user == nil %>
    <% else%>

      <%= form_for @comment do |f| %>
        <%= f.text_area :body, class: "new-comment" %>
        <br>
        <%=f.submit :Comment %>
        <%=f.hidden_field :post_id, :value => @post.id %>
      <% end %>

    <% end %>
  </div>
</div>
