
<div class="header">
  <h1> Post #<%= @post.id %> </h1>

  <%= form_for @post do |f| %>
    <%= f.label "Edit your post" %>
    <br>
    <%= f.text_area :body, class: "new-post" %>
    <br>


    <%=f.submit :Update %>
  <% end %>

</div>
