<h1>Post #<%=@post.id%></h1>
<p>
   <%=@post.created_at.strftime("%B %d, %Y at %I:%M %p")  %>
</p>
<h4>
  <%= @post.user.fname + " " + @post.user.lname + ":" %>
</h4>
<h3>
  <%= @post.body %>
</h3>

<% if @user == current_user %>
  <a href="<%=@post.id%>/edit">Edit Post</a>
  <%= link_to("Delete Post", post_path(@post.id), method: :delete)%>
<% elsif current_user %>
  <%= link_to "Comment", new_comment_path(:post_id => params[:id]) %>
<% else %>
  <a href="/login">Login to comment</a>

<% end %>

<h1>Comments</h1>

<ul>
  <% @comments.each do |comment| %>
    <% if comment.parent_id == nil %>
    <li>
      <ul>
        <p>
           <%=comment.created_at.strftime("%B %d, %Y at %I:%M %p")  %>
        </p>
        <h4>
          <%= comment.user.fname + " " + comment.user.lname + ":" %>
        </h4>
        <h3>
          <%= comment.body %>
        </h3>
      </ul>
    </li>
    <% end %>

  <% end %>

</ul>

<% @toplevels.each do |toplevel| %>
<ul>

<% def print_child_and_children(comment) %>
  <ul>
    <li>
      <%= comment.body %>
    </li>
    <% children = comment.children
       children.each do |child|
         print_child_and_children(child) %>
    <% end %>
  </ul>
<% end %>

<% print_child_and_children(toplevel) %>
</ul>
<% end %>


<!-- def print_children(comment)
  if comment.children.first == nil
    puts comment.body
  else
    children = comment.children
    children.each do |child|
      puts child.body
      print_children(child)
    end
  end
end

def print_children(comment)
    children = comment.children
    children.each do |child|
      puts child.body
      print_children(child)
    end
end -->
