<h1>Post #<%=@post.id%></h1>
<p>
   <%=@post.created_at.strftime("%B %d, %Y at %I:%M %p")  %>
</p>
<h4>
  <%= @post.user.fname + " " + @post.user.lname + ":" %>
</h4>
<h3>
  <%= @post.body %>
</h3>

<% if @user == current_user %>
  <a href="<%=@post.id%>/edit">Edit Post</a>
  <%= link_to("Delete Post", post_path(@post.id), method: :delete)%>
<% elsif current_user %>
  <a href="#">Comment</a>
<% else %>
  <a href="/login">Login to comment</a>

<% end %>
